<section class="about text-white d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <!-- <div class="col-md-12">
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Favorite Fruits</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter fruits">
                      <mat-chip-row *ngFor="let fruit of fruits"
                                    (removed)="remove(fruit)"
                                    [editable]="true"
                                    (edited)="edit(fruit, $event)"
                                    [aria-description]="'press enter to edit ' + fruit.name">
                        {{fruit.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      <input placeholder="New fruit..."
                             [matChipInputFor]="chipGrid"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlur"
                             (matChipInputTokenEnd)="add($event)"/>
                    </mat-chip-grid>
                  </mat-form-field>
            </div> -->

            <h2 class="my-2 py-2 fs-1 fw-bold text-center ">ABOUT COMPONENT</h2>
            <div class="icon mx-auto position-relative"><i class="fa fa-star my-2 text-white"></i></div>
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>
